# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
build/
dist/
wheels/
*.egg-info
*.local

# Node
node_modules/
dist/
.pnpm-store/

# MacOS
.DS_Store

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend specific
backend/static/